@import "assets/font/font.css";
@import "assets/css/swiper-bundle.min.css";
@import "assets/css/magnific-popup.css";
@import "assets/css/datapicers.css";
@import "assets/css/yearpicker.css";
@import "assets/css/jquery.formstyler.css";
@import "assets/css/jquery.formstyler.theme.css";
@import "assets/css/normalize.css";
@import "assets/css/modal.css";
@import "assets/css/header.css";
@import "assets/css/home.css";
@import "assets/css/osago.css";
@import "assets/css/global.css";
@import "assets/css/article.css";
@import "assets/css/contact.css";
@import "assets/css/footer.css";


