.article__pages{
    margin: 20px 0 0;
}
.otlich__soc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 25px;
}
.otlich__soc .osago__soc {
    margin-top: 0;
}
.article__cnt{
    display: flex;
    align-items: center;
}
.benefits__dash{
    padding: 02px 10px;
    width: 60px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #8C94C0;
    border-radius: 5px;

}
.benefits__dash p{
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #191C2E;
}
.article__data{
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.article__data img{
    margin-right: 5px;
}
.article__data p{
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #64687A;
}
.article__block .article__cnt>span{
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #64687A;
    display: flex;
    align-items: center;
}
.article__cnt>span img{
    margin-right: 5px;
}
.article__flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;
}
.article__block{
    max-width: 750px;
    width: 100%;
}
.article__photo{
    display: flex;
    background: #F7F8FD;
    border-radius: 15px;
}
.article__block strong{
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    color: #213353;
    display: block;
}
.article__block span{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #555B67;
    display: block;
}
.article__photo img{
    border-radius: 15px;
    width: 100%;
}

.article__text{
    padding-top: 10px;
}
.article__text p {
    margin-top: 20px;
}
.article__text p a{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #519FE7;
}
.article__text p a:hover{
    text-decoration-line: unset;
}
.article__text strong{
    margin-top: 30px;
}
.article__other{
    margin-top: 30px;
}
.article__other span{
    margin-top: 20px;
    display: block;
}
.article__other ul{
    margin-top: 20px;
    padding-left: 20px;
    list-style: disc;
    margin-left: 5px;
}
.article__other ul li{
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #555B67;
    margin-bottom: 15px;
}
.article__rules{
    max-width: 750px;
    width: 100%;
    padding: 20px;
    background: #F8F8FC;
    border-radius: 20px;
    margin-top: 30px;
}
.article__rules p{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #64687A;
}
.article__compensation{
    margin-top: 30px;
    padding-top: 30px;
}

.article__compensation span{
    margin-top: 20px;
}
.article__compensation ul{
    margin-top: 20px;
    padding-left: 20px;
    list-style: auto;
}
.article__compensation ul li{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #616F89;
    margin-bottom: 15px;
}
.read__slider{
    padding-bottom: 10px;
}
.article__contract{
    padding-top: 5px;
}
.article__contract a{
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #519FE7;
}
.article__contract a:hover{
    text-decoration-line: unset;
}
.article__video{
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

}
.article__video:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(30, 38, 50, 0.5), rgba(30, 38, 50, 0.5));
    border-radius: 15px;
}
.article__video>img{
    width: 100%;
    border-radius: 15px;
}
.popup-youtube{
    position: absolute;
    width: 70px;
    height: 70px;
    background: #FF1C2D;
    border: 1px dashed #47518E;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4px;
}

.read__also{
    margin: 90px 0;
}
.read__also h2{
    text-align: center;
}
.read__info{
    max-width: 1288px;
    width: 100%;
    margin: 40px auto 0;
    position: relative;
}
.read__info .benefits__info {
    margin: 0 auto;
    filter: unset;
}
@media (max-width: 1199px){
    .read__info {
        max-width: 940px;
    }
    .read__slider{
        max-width: 900px;
        width: 100%;
    }
}
@media (max-width: 992px){
    .article__flex {
        flex-direction: column;
    }

    .article__text strong {
        margin-top: 30px;
    }
    .read__also {
        margin: 50px 0;
    }
    .read__info {
        max-width: 700px;
    }
}
@media (max-width: 760px){
    .article__flex {
        margin-top: 30px;
    }

    .article__block .osago__soc {
        justify-content: flex-start;
    }
    .article__block strong {
        font-size: 18px;
        line-height: 24px;
    }
    .article__text strong {
        margin-top: 20px;
    }
    .article__other {
        margin-top: 20px;
    }
    .article__other ul li {
        margin-bottom: 10px;
    }
    .article__other ul {
        margin-top: 15px;
        padding-left: 15px;
        margin-left: 2px;
    }
    .article__rules {
        padding: 15px;
        margin-top: 20px;
    }
    .article__compensation {
        margin-top: 20px;
        padding-top: 20px;
    }
    .popup-youtube {
        position: absolute;
        width: 55px;
        height: 55px;
    }
    .read__info {
        max-width: 520px;
        margin-top: 30px;
    }
    .read__info .benefits__info {
        max-width: 310px;
    }
    .read__also {
        margin: 40px 0;
    }
    .otlich__soc {
        margin: 15px 0 20px;
        flex-direction: column;
        align-items: flex-start;
    }
    .article__cnt {
        margin-bottom: 15px;
    }
}